<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Admin View</h1>
    <div class="game_rooms">
      <h1>GAME ROOMS</h1>
      <table>
        <thead>
          <th>Room id</th>
          <th>Room name</th>
          <th>View Room</th>
        </thead>
        <tbody>
          <% rooms.forEach((room) => { %>
          <tr>
            <td><%= room.r_id %></td>
            <td><%= room.r_name %></td>
            <td><a href="/admin/dashboard/view/<%= room.r_id %>">View</a></td>
            <td>
              <form action="/admin/dashboard/delete/<%= room.r_id %>" method="POST">
                <button type="submit">Delete</button>
              </form>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
      <a href="/admin/dashboard/addRoom" >Add more</a>
    </div>
    <div class="culture-rooms"></div>
  </body>
</html>