<%- include('./partials/header.ejs') %>

<div class="app-content">
    <%- include('./partials/sidebar.ejs') %>
    <div class="projects-section">
        <h1><%= room.r_name %> Allotment</h1>

       

        <!-- Room Allotment Form -->
        <form action="/submit_room_allotment" method="POST" class="room-allotment-form">
            <div class="form-group">
                <label for="start_date">From:</label>
                <input type="datetime-local" id="start_date" name="start_date" required>
            </div>
            <div class="form-group">
                <label for="end_date">To:</label>
                <input type="datetime-local" id="end_date" name="end_date" required>
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea id="description" name="description" rows="4" required></textarea>
            </div>
            <button type="submit" class="btn-submit">Submit</button>
             <!-- Back Button -->
            <a href="/user/<%= user.s_id %>" class="back-button">Back</a>
        </form>
    </div>
</div>
<!-- partial -->
<script src="/user/javascript/index.js"></script>

</body>
</html>
