<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin</title>
</head>
<body>
  <h1>Login into Admin portal</h1>
  <form action="/admin" method="post">
    <label for="admin_name"> Name:</label>
    <input type="text" id="admin_name" name="admin_name" required>
    <label for="admin_password">Password:</label>
    <input type="password" id="admin-password" name="admin_password" required>
    <button type="submit">Submit</button>
  </form>
</body>
</html>