<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Admin View</h1>
  <div class="game_rooms">
  <h1>GAME ROOMS</h1>
    <table>
      <thead>
        <th>Room id</th>
        <th>Room name</th>
      </thead>
      <tbody>
        <% rooms.forEach((i)=>{%>
          <tr><td> <%=i.r_id%></td>
          <td><%=i.r_name%><td></td></tr>
      <% });%>
      </tbody>
    </table>
    <button>Add more</button>
    
   
  </div>
  <div class="culture-rooms"></div>
</body>
</html>